.about img {
    border: 3px solid var(--color-3)
}

.footer {
    background-color: var(--color-2);
}

.icon-white {
    color: var(--color-bg)
}

/* Adapted from bootstrap */
.custom-carousel-caption {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-body-color);
    text-align: center;
}