.about img {
    border: 3px solid var(--color-3);
    object-fit: contain;
}

.footer {
    background-color: var(--color-2);
}

.icon-white {
    color: var(--color-bg)
}

#genre-carousel .carousel-inner .carousel-item {
    /* padding: 1px; */
    border: 3px solid var(--color-1);
    border-radius: 5px;
}

/* Adapted from bootstrap */
.genre-carousel-caption {
    padding-top: 1.25rem;
    padding: 1.25rem 1.25rem 0;
    color: var(--bs-body-color);
    text-align: center;
}

.genre-carousel-caption {
    width: 100%;
}

.genre-carousel-img {
    object-fit: contain;
    width: 100%;
}


/* ! Move to styles1.css when possible */
.cover img {
    border: 3px solid var(--color-1);
    width: 100%;
    object-fit: contain;
    padding: 1rem;
}


/** END TODO */

@media (min-width: 768px) {

    #genre-carousel .carousel-inner .active,
    #genre-carousel .carousel-inner .carousel-item-prev,
    #genre-carousel .carousel-inner .carousel-item-next {
        display: flex;
        flex-flow: row wrap;
    }

    .genre-carousel-img {
        height: 85vh;
    }

    .genre-carousel-caption {
        width: 50%;
    }
}

@media (min-width: 996px) {
    .genre-carousel-caption {
        font-size: 1.5em;
    }

    #genre-description ul li {
        font-size: 1.25em;
    }

    #genre-description p.lead {
        font-size: 1.25em;
        font-weight: bold;
    }
}