/* *ADDISON STYLESHEET* */
/*primarily for index and books html pages*/
/*TODO organize this eventually much needed*/

/**Global**/
    @font-face {
        font-family: 'Spartan';
        src: url("LeagueSpartan-Bold.otf") format("opentype");
    }

    body{
        font-family:Spartan;
    }
    :root {
        /*https://www.shecodes.io/palettes/267*/
        --color-1: #233142;
        --color-2: #455d7a;
        --color-3: #f95959;
        --color-4: #6584a9;
        --color-bg: #e3e3e3;
    }

    .container-lg {
        background: var(--color-bg);
    }

    a {
        color: var(--color-2);
    }

/**Navbar**/
    .nb-background-color {
        /* navbar background color */
        background-color: var(--color-1);
    }

    .nbMenuItem {
        /* navbar link text properties */
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--color-bg);
    }

    .navbar img {
        height: 100px;
    }

/**What is Science Fiction?*/
.landing img {
    height: 300px;
    width: auto;
    padding-top: 30px;
}


/**Underline Animations**/
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        /*color: #0087ca;*/
    }

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #023E8A;
        /*transform-origin: bottom right;*/
        transition: transform 0.35s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        /*transform-origin: bottom left;*/
    }

/**ID STYLING**/
#scroll-up-arrow {
    bottom: 0;
    padding: 1rem;
}

@media (min-width: 576px) {
    #scroll-up-arrow {
        top: 50%;
        transform: translateY(-50%);
        padding: 3rem;
    }
}

/**The Timelines...**/

    .timeline-section {
        padding: 4rem 0;
        border-top: 2px solid var(--color-1);
    }

    /*.timeline{
        position:relative;
        max-width: 1200px;
    }

    /* white line */
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 1490px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        border-radius: 3px;
        transform: translateX(-50%);
        transform: translateY(59%)
    }

    .left {
        left: 0;
    }

    /*Adds the little arrow things*/
    .left::before {
        content: " ";
        position: absolute;
        top: 22px;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    .right {
        left: 50%;
    }

    .right::before {
        content: " ";
        position: absolute;
        top: 22px;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .right::after {
        left: -1.5%;
    }

    .timeline-item {
        padding: 10px 40px;
        position: relative;
        width: 50%;
        opacity: 100;
    }

    /*Adds little dots*/
    .timeline-item::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: var(--color-2);
        border: 4px solid var(--color-1);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .timeline-content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }


/**Accordion (books.html)**/

/*TODO change arrows to white (and stars if possible???*/
    .accordion-item {
        --bs-accordion-btn-color: var(--color-bg); /*Text color for accordion header*/
        --bs-accordion-btn-bg: var(--color-4); /*Background color for accordion header*/

        --bs-accordion-active-color: var(--color-bg); /*Text color for accordion header when opened*/
        --bs-accordion-active-bg: var(--color-4); /*Background color for accordion header when opened*/

        color: var(--color-bg); /*Text color for accordion paragraph text*/
        background-color: var(--color-4); /*Background color for accordion paragraph text*/

        font-family: Spartan;
        --bs-accordion-border-width: 0px;
    }

    .accordion-item:hover {
        --bs-accordion-btn-bg: var(--color-2); /*Background color for accordion header when hovered*/
    }

    .cover {
        background-color: var(--color-2);
    }

    

    .accordion-body{
        padding-top: 0;
    }