/* *signUp.html* */
#submitData:hover {
    background-color: var(--color-1);
}
/* *sign in pages* */
.sign-in,
.sign-out {
    width: max(50%, 480px);
    margin: 0 auto;
}
/* *Footer* */
.footer {
    background-color: var(--color-2);
}

.icon-white {
    color: var(--color-bg)
}

/* *about.html */
.about img {
    border: 3px solid var(--color-3);
    object-fit: contain;
}

/* *genres.html* */
/* Carousel */
#genre-carousel .carousel-inner .carousel-item {
    border: 3px solid var(--color-1);
    border-radius: 5px;
}

/* Adapted from bootstrap */
.genre-carousel-caption {
    padding-top: 1.25rem;
    padding: 1.25rem 1.25rem 0;
    color: var(--bs-body-color);
    text-align: center;
}

.genre-carousel-caption {
    width: 100%;
}

.genre-carousel-img {
    object-fit: contain;
    width: 100%;
}

#genre-accordion .accordion-item {
    --bs-accordion-active-color: var(--color-bg);
    --bs-accordion-active-bg: var(--color-4);

    color: var(--color-bg);
    background-color: #0000;
}

/* Index of Genres */
#genre-index-button {
    background-color: #0000;
    color: var(--bs-body-color);
}

#genre-accordion .accordion-item:hover {
    --bs-accordion-btn-bg: var(--color-2);
}

#genre-accordion {
    border: 3px solid var(--color-1);
    border-radius: 5px;
}

#genre-index div ul li {
    color: var(--bs-body-color)
}

#genre-index div ul:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* *Media queries for genres.html* */
@media (min-width: 768px) {

    #genre-carousel .carousel-inner .active,
    #genre-carousel .carousel-inner .carousel-item-prev,
    #genre-carousel .carousel-inner .carousel-item-next {
        display: flex;
        flex-flow: row wrap;
    }

    .genre-carousel-img {
        width: 50%;
    }

    .genre-carousel-caption {
        width: 50%;
    }
}

@media (min-width: 996px) {
    .genre-carousel-caption {
        font-size: 1.5em;
    }

    #genre-description ul li {
        font-size: 1.25em;
    }

    #genre-description p.lead {
        font-size: 1.25em;
        font-weight: bold;
    }
}